/* #region Common */

:root {
  --my-primary: #1abc9c;
  --my-medium: #3a546d;
  --my-dark: #2c3e50;
}

/* #endregion Common */

/* #region Utilities */

.ms_container {
  width: calc(100% / 12 * 8);
}

.ms_half_brightness {
  filter: brightness(0.5);
}

.ms_star_wrapper_light::before {
  content: '';
  border-top: 2px solid #ffffff;
  flex-grow: 1;
}

.ms_star_wrapper_light::after {
  content: '';
  border-top: 2px solid #ffffff;
  flex-grow: 1;
}

.ms_star_wrapper_dark::before {
  content: '';
  border-top: 2px solid #000000;
  flex-grow: 1;
}

.ms_star_wrapper_dark::after {
  content: '';
  border-top: 2px solid #000000;
  flex-grow: 1;
}

/* #endregion Utilities */


/* #region Debug */

.debug * {
  outline: 1px solid red;
}

.debug #app_header *,
.debug #jumbo *,
.debug #footer_bottom * {
  height: 100%;
}

.debug #jumbo {
  height: 500px;
}

.debug #portfolio .col {
  height: 250px;
}

.debug #about .row * {
  height: 200px;
}

.debug #contact .row * {
  height: 50px;
}

.debug #footer_top .row * {
  height: 50px;
}

/* #endregion Debug */

/* #region Header */

#app_header {
  background-color: var(--my-dark);
}

/* #endregion Header */

/* #region Main */

#jumbo,
#about {
  background-color: var(--my-primary);
}

#ms_jumbo_title {
  font-size: 4rem;
}

/* #endregion Main */

/* #region Footer */

#footer_top {
  background-color: var(--my-medium);
}

#footer_bottom {
  height: 90px;
  background-color: var(--my-dark);
}

/* #endregion Footer */
