/* #region Common */

:root {
  --my-primary: #1abc9c;
  --my-medium: #3a546d;
  --my-dark: #2c3e50;
}

/* #endregion Common */

/* #region Utilities */

.ms_container {
  width: calc(100% / 12 * 8);
}

.ms_half_brightness {
  filter: brightness(0.5);
}

.ms_star_wrapper_light::before {
  content: '';
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  flex-grow: 1;
}

.ms_star_wrapper_light::after {
  content: '';
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  flex-grow: 1;
}

.ms_star_wrapper_dark::before {
  content: '';
  height: 4px;
  border-radius: 4px;
  background-color: #000000;
  flex-grow: 1;
}

.ms_star_wrapper_dark::after {
  content: '';
  height: 4px;
  border-radius: 4px;
  background-color: #000000;
  flex-grow: 1;
}

.ms_color_primary_link {
  color: var(--my-primary);
  text-decoration: none;
  transition: color 0.2s;
}

.ms_color_primary_link:hover {
  color: #1abc9ccc;;
}

.ms_btn_bg_primary {
  background-color: var(--my-primary);
}

.ms_social_icon_wrapper {
  display: inline-block;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

/* #endregion Utilities */

/* #region Debug */

.debug * {
  outline: 1px solid red;
}

.debug #app_header *,
.debug #jumbo *,
.debug #footer_bottom * {
  height: 100%;
}

.debug #jumbo {
  height: 500px;
}

.debug #portfolio .col {
  height: 250px;
}

.debug #about .row * {
  height: 200px;
}

.debug #contact .row * {
  height: 50px;
}

.debug #footer_top .row * {
  height: 50px;
}

/* #endregion Debug */

/* #region Header */

#app_header {
  background-color: var(--my-dark);
}

/* #endregion Header */

/* #region Main */

#jumbo,
#about {
  background-color: var(--my-primary);
}

#ms_jumbo_title {
  font-size: 2rem;
}

#contact *::placeholder {
  color: var(--my-dark);
}

#send {
  padding: 6px 12px;
  transition: background-color 0.2s;
}

#send:hover {
  background-color: #1abc9ccc;
}

/* #endregion Main */

/* #region Footer */

#footer_top {
  background-color: var(--my-medium);
}

#footer_bottom {
  background-color: var(--my-dark);
}

/* #endregion Footer */

/* #region Responsive */

@media screen and (min-width: 768px) {

  #ms_jumbo_title {
    font-size: 3rem;
  }

}

@media screen and (min-width: 1200px) {

  #ms_jumbo_title {
    font-size: 4rem;
  }

}

/* #endregion Responsive */
