/* #region Common */

:root {
  --my-primary: #1abc9c;
  --my-medium: #3a546d;
  --my-dark: #2c3e50;
}

/* #endregion Common */


/* #region Debug */

.debug * {
  outline: 1px solid red;
}

.debug #app_header *,
.debug #jumbo * {
  height: 100%;
}

.debug #jumbo {
  height: 500px;
}

.debug #portfolio .col {
  height: 250px;
}

.debug #about .row * {
  height: 200px;
}

.debug #contact .row * {
  height: 50px;
}

.debug #footer_top .row * {
  height: 50px;
}

/* #endregion Debug */

/* #region Header */

#app_header {
  height: 90px;
  background-color: var(--my-dark);
}

/* #endregion Header */

/* #region Main */

#jumbo,
#about {
  background-color: var(--my-primary);
}

/* #endregion Main */

/* #region Footer */

#footer_top {
  background-color: var(--my-medium);
}

/* #endregion Footer */
